:root {
    flex-direction: column;
    min-height: 16px;
    flex-shrink: 0;
}

.favorite-buttons {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 18px;
    padding-right: 16px;
    flex-shrink: 0;
}

.favIcon {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    right: 0;
}
