:root {
}

.deleteButton {
    background-color: rgb(255, 162, 162);
    background-image: resource("d_TreeEditor.Trash");
    height: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    -unity-background-scale-mode: scale-to-fit;
}
